.container{
    background: black;
    text-decoration: cornsilk;
}
header{
    background: black;
}

main{
    background: black;
    text-decoration: cornsilk;
}
footer{
    background-color: rgb(17, 17, 65);
    color: cornsilk;
}